<!doctype html>
<html>
    <head>
        <title>Movie List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        {% load static %} 
        <link rel="stylesheet" type="text/css" href="{% static 'movlist/style.css' %}">
    </head>
    <body>
        <div>
        <div id="wrap">
            <div>
                <div class="get_random_movie">Случайный фильм</div>
                <br>
                <div id="random_movie"></div>
            </div>
            <br>
            <div class="tabs">
                <div class="tablinks" id="defaultOpen" onclick="openTab(event,'all_movies')">Все фильмы</div>
                <div class="tablinks" onclick="openTab(event,'not_watched_movies')">Непросмотренные фильмы</div>
                <div class="tablinks" onclick="openTab(event,'watched_movies')">Просмотренные фильмы</div>
            </div>
            <br>
            <div class="tabcontent" id="all_movies">
                {% if movie_list %} 
                    <table>
                        <tr>
                            <th>Название</th>
                            <th>Режиссер</th>
                            <th>Просмотрено</th>
                            <th></th>
                        </tr>
                        {% for movie in movie_list %} 
                            <tr>
                                <td>{{ movie.name }}</td>
                                <td>{{ movie.director }}</td>
                                <td> 
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="checkbox" name = "{{ movie.name }}" id = "{{ movie.id }}" class="is_watched" {% if movie.is_watched %} checked {% endif %} onclick="changeStatus(this)">
                                    </form>
                                </td>
                                <td>
                                    <form method="DELETE">
                                        {% csrf_token %} 
                                        <button class="delete" id="{{ movie.id }}" name="{{ movie.name }}">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>

            <div class="tabcontent" id="not_watched_movies">
                {% if not_watched_movies %}
                <table>
                    <tr>
                        <th>Название</th>
                        <th>Режиссер</th>
                        <th>Просмотрено</th>
                        <th></th>
                    </tr>
                    {% for movie in not_watched_movies %} 
                        <tr>
                            <td>{{ movie.name }}</td>
                            <td>{{ movie.director }}</td>
                            <td> 
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="checkbox" name = "{{ movie.name }}" id = "{{ movie.id }}" class="is_watched" {% if movie.is_watched %} checked {% endif %} onclick="changeStatus(this)">
                                </form>
                            </td> 
                            <td>
                                <form method="DELETE">
                                    {% csrf_token %} 
                                    <button class="delete" id="{{ movie.id }}" name="{{ movie.name }}">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>

            <div class="tabcontent" id="watched_movies">
                {% if watched_movies %}
                <table>
                    <tr>
                        <th>Название</th>
                        <th>Режиссер</th>
                        <th>Просмотрено</th>
                        <th></th>
                    </tr>
                    {% for movie in watched_movies %} 
                        <tr>
                            <td>{{ movie.name }}</td>
                            <td>{{ movie.director }}</td>
                            <td> 
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="checkbox" name = "{{ movie.name }}" id = "{{ movie.id }}" class="is_watched" {% if movie.is_watched %} checked {% endif %} onclick="changeStatus(this)"> 
                                </form>
                            </td>
                            <td>
                                <form method="DELETE">
                                    {% csrf_token %} 
                                    <button class="delete" id="{{ movie.id }}" name="{{ movie.name }}">Удалить</button>
                                </form>
                            </td>
                                
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>

        {% block javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}" </script>
            <script>
                function openTab(evt, tabName) {
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for(i=0; i<tabcontent.length; i++){
                        tabcontent[i].style.display = "none";
                    }
                    
                    tablinks = document.getElementsByClassName("tablinks");
                    for(i=0; i<tablinks.length; i++){
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                document.getElementById("defaultOpen").click();
            </script>
            <script>
                $(document).ready( function() {
                    $('.get_random_movie').on('click', function() {
                        $.ajax({
                            type: "GET",
                            url: '{% url "get_random_movie" %}',
                            dataType: "json",
                            success: function (response) {
                                randomMovie = document.getElementById("random_movie");
                                randomMovie.innerHTML = `<table>
                                    <tr>
                                        <th>Название</th>
                                        <th>Режиссер</th>
                                        <th>Просмотрено</th>
                                    </tr>
                                        <tr>
                                            <td>`+ response.name +`</td>
                                            <td>`+ response.director +`</td>
                                            <td> 
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <input type="checkbox" name = "` + response.name + `" id = "` + response.id + `" class="is_watched" onclick="changeStatus(this)"> </td>
                                                </form>
                                                
                                        </tr>
                                </table>`
                            }
                        })
                    })
                })
            </script>
            <script>
                function changeStatus(elem){
                    data = {
                        id: elem.getAttribute('id'),
                        is_watched: elem.checked,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                $.ajax({ type: "POST",
                            url: '{% url "change_status" %}',
                            data: data,
                            success: function() {
                                
                                $('#all_movies').load(" #all_movies > *");
                                $('#watched_movies').load(" #watched_movies > *");
                                $('#not_watched_movies').load(" #not_watched_movies > *");
                            }
                            
            })
                }
                {% comment %} $(document).ready( function() {
                    $('.is_watched').on('click', function(){
                        movie_id = $(this).attr('id');
                        data = {
                                id: movie_id,
                                is_watched: $(this).is(':checked'),
                                csrfmiddlewaretoken: "{{ csrf_token }}"
                            }
                        $.ajax({ type: "POST",
                                    url: '{% url "change_status" %}',
                                    data: data,
                                    success: function() {
                                        $('#all_movies').load(" #all_movies > *");
                                        $('#watched_movies').load(" #watched_movies > *");
                                        $('#not_watched_movies').load(" #not_watched_movies > *");

                                    }
                                    
                    })
                })}) {% endcomment %}
                {% comment %} $(document).ready( function() {
                    $('.is_watched').on('click', () => changeStatus(this));
                }) {% endcomment %}
            </script>
     
        {% endblock javascript %}
    </body>
</html>